body{
    background-color:white;

}
.h1{
    text-align: center;
    color: aqua;

}

.amagar{
    display: none;
}
div{
    text-align: center !important;
}

.button{
    background-color: rgb(139, 139, 219);
    color: beige;
}
