body{

        background-color:lightblue

}
.h1{
    text-align: 100%;
    color: aliceblue;
}
.h2{
    text-align: left;
    color: aliceblue;
}
.p{
    font-size: 20px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}