/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  input[type=text], input[type=email], input[type=password]{

    width: 60%;
    height: 56px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: .2px;
    color: rgba(0,0,0,.6);
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  
  #Gradi {
    background-image: linear-gradient(to bottom right,rgb(162, 6, 252),rgb(189, 74, 255) );
  }
  body{
    background-color: rgb(162, 6, 252);
  }

  h1 span{
    font-family:'NoiceFx' ;
    font-weight: 700;
    color: #d98f40;
  }

h1{
  font-family: 'NoiceFx';
    font-weight: lighter;
    font-size: 50px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    color: #fff;
}

#RegistBTN{
  transition-duration: 0.2s;
  background-color: #d98f40;
    color: #fff;
    border: none;
    padding: 16px 24px;
    border-radius: 2px;
}

#RegistBTN:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #cc7920;

}
#RegistBTN:active{
  background-color: #b65e00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container{

}


.column {
  float: left;
  width: 40%;
}


form {
  margin: 1em 0;
}
/**
* Make the field a flex-container, reverse the order so label is on top.
*/
 
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.5em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

/* input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
} */

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {

  letter-spacing: 0.05em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

@font-face {
  font-family: 'NoiceFx';
  src: url('../files/sources/fuentes/ferrum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#Ojo1{
  text-align: center;
}

#Ojo2{
  text-align: center;
}